
.aboutmecontainer {
    border-top: 1px solid rgba(199, 199, 199, 0.452);
    border-bottom: 1px solid rgba(199, 199, 199, 0.452);

    background-color: #121212;
    padding: 100px;
    color: var(--main-white-color);
}
.aboutme {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.aboutmedescription, .aboutmeimage {
    display: flex;
    justify-content: center;


}
.aboutmedescription{
    text-align: start;

    flex-direction: column;
    flex: 2;
}
.aboutmedescription b {
    color: rgb(255, 165, 0);
}
.aboutmeimage {
    flex: 1;
    padding: 50px;
    
}
.aboutmeimage img {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.377);
flex: 1;
    border-radius: 350px;
    border: 1px solid rgb(214, 214, 214);
    max-width: 250px;
}


@media only screen and (max-width: 1000px) {

    .aboutme {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    
    }
    .aboutmeimage img {
        width: 200px;
        height: 200px;
    }
    
}
@media only screen and (max-width: 700px) {
    .aboutmecontainer {
        padding: 50px 15px;
    }
    
}