.contactform {
    display: flex;
    flex-wrap: wrap;
    max-width: 45%;
    justify-self: center;
    align-items: center;
    
}

.contactform input {
    flex-grow: 1;
    margin: 5px;
    flex-basis: 45%;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--main-grey-color);

}
.contactform button {
    margin: 5px;
    flex-basis: 20%;
    border: 1px solid var(--main-grey-color);
    color: rgb(241, 241, 241);
    border-radius: 5px;

}

.contactform button:hover {
    border-color:blue;
    color: blue;

    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
.contactform input[type='textarea'] {
    flex-grow: 1;
    flex-basis: 100%;
    min-height: 80px;
}