.contactcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    align-items: center;
    flex-direction: row;
}

.contactcontainer span {
    flex-direction: row;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}

.contactcontainer svg {
    margin-right: 15px;
    font-size: 2rem;
}
.contactcontainer span:hover {
    transform: scale(1.03);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
}
