html, body, #app {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;

}

:root {
    --main-white-color: rgb(233, 233, 233);
    --main-black-color: #121212;
    --main-orange-color: #FFA500;
    --main-grey-color: rgb(184, 184, 184);
}

button, input {
    background-color: transparent;
    padding: 10px;
    border: 1px solid var(--main-grey-color);
    color: rgb(241, 241, 241);

}

button:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;

    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
.flexrow {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.flexcolumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}