.header {
    z-index: 99;
    padding: 10px 20px;
    position: absolute;
    padding: 20px 100px;

}
.header a {
    text-decoration: none;
    color: var(--main-white-color);
    padding: 0px 10px;
}
.header a:hover {
    color: var(--main-orange-color)
    
}

.container {
    padding: 30px 100px;
    color: var(--main-white-color);

}
.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 250px;
    background-image: url('../assets/imgs/low-angle-shot-of-the-mesmerizing-starry-sky-min.jpg');
    background-size:cover
}
.maincontainer h1 {
    font-size: 3.2rem;
    margin-bottom: 0px;

}
.maincontainer button:hover {
    border-color: var(--main-orange-color);
    color: var(--main-orange-color);

    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.full {
    min-height: 100vh;
}
.smooth {
    background-image: linear-gradient(#22202b, #05030f)
}
@media only screen and (max-width: 700px) {
    .header {
        position: fixed;
        width: 120%;
        padding: 10px;
        background-color: #121212;
        border-bottom: 1px solid rgba(128, 128, 128, 0.425);
    }
    .header a {
        font-size: 1rem;
    }
    .container {
        padding: 10px 15px;    
    } 
    .maincontainer {
        justify-content: center;
        align-items: center;
        padding: 50px 10px;
    }
    .maincontainer h1 {
        text-align: center;
    }
    .header a {
    text-decoration: none;
    color: var(--main-white-color);
    font-weight: 500;
    padding: 0px 10px;
}
}