.header {
    right: 10px;
    padding: 10px 20px;
    position: absolute;
    padding: 20px 100px;

}
.header a {
    text-decoration: none;
    color: var(--main-white-color);
    font-weight: 500;
    padding: 0px 10px;
}
.header a:hover {
    color: var(--main-orange-color)
    
}

.container {
    padding: 60px 100px;
    color: var(--main-white-color);
    height: 100vh;

}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 250px;
}
.maincontainer h1 {
    font-size: 3.2rem;
    margin-bottom: 0px;

}
.maincontainer button:hover {
    border-color: var(--main-orange-color);
    color: var(--main-orange-color);
    
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;}


