.projectcard{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.projectimage, .projectdescription {
    border-collapse: collapse;
    min-height: 100%;
    border: 1px solid grey;

}
.projectimage{
    flex-grow: 2;
    margin-right: 10px;

}

.projectdescription {
    min-width: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.projectdescription p{
    flex-grow: 1;
}
.projectdescription b{
    font-size: 1.4rem;
}
.projectnav a {
    padding: 5px;
    margin: 5px;
    border: 1px solid grey; 
}
.projectnav {
    align-self: flex-end;
    justify-self: flex-end;
}