.projectcard {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    min-width: 45%;
    flex-direction: column;
    flex-basis: 49%;

    background-color: rgb(46, 44, 56);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.308);
}

.projectimage, .projectdescription {
    min-height: 100%;

}

.projectimage {
    flex-grow: 2;
    border-radius: 10px;

}

.projectimage img {
    border-radius: 10px;
}

.projectdescription {
    min-width: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.projectdescription p {
    flex-grow: 1;
}

.projectdescription b {
    font-size: 1.4rem;
}

.projectnav a {
    padding: 5px;
    border: 1px solid grey;
    margin: 5px;
}

.projectnav {
    margin: 25px 5px 0px 5px;
    align-self: flex-end;
    justify-self: flex-end;
}