.socialbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 35%;
    left: 20px;
    padding: 10px 5px;

}

.socialbar a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-white-color);
    margin: 3px;
        

}
.socialbar a:hover {
    color: rgb(124, 124, 204);
    transform: scale(1.2);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

@media only screen and (max-width: 700px) {
    .socialbar {
        position: static;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        padding: 10px 5px;
    
    }
}