.socialbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 30%;
    left: 20px;
    border-radius: 20px;
    padding: 10px 5px;

    background-color: rgba(0, 0, 0, 0.281);
}

.socialbar a {
    padding: 5px;
    text-decoration: none;
    color: var(--main-white-color);
    margin: 0px;
        

}
.socialbar a:hover {
    color: rgb(124, 124, 204);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}