.tecnologycard {
    border-left: 1px solid rgb(141, 77, 141);
    margin-right: 5px;
    display: flex;
}

.tecnologyicon {
    width: 30px;
    height: 30px;
}

.tecnologycontent {
    flex-grow: 1;
    align-items: center;
    padding: 0px 15px;
}