.tecnologycard {
    border: 1px solid grey;
    margin-right: 5px;
    display: flex;
}

.tecnologyicon {
    width: 40px;
    height: 40px;
}

.tecnologycontent {
    flex-grow: 1;
    align-items: center;
    padding: 0px 15px;
}